#menu {
    display: flex;
    margin: 30px;
    text-align: center;
    font-weight: bold;
    height: 30px;
    font-size: 18px;
    letter-spacing: 4px;
    justify-content: space-around;
    text-shadow: 0.5px 0.4px rgb(212, 152, 152);
    a:hover {
        color: pink;
    }
}

h1 {
    text-align: center;
    font-weight: bold;
    letter-spacing: 4.5px;
    font-size: 50px;
    text-shadow: 3px 3px rgb(212, 152, 152);
    text-decoration-color: black;

}

#search-box {
    text-align: center;
}

.search-box input {
    height: 100px;
    width: 50px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    text-align: center;
    font-weight: bold;
    height: 30px;
    font-size: 3px;
    letter-spacing: 3.4px;
    font-size: 13px;
    text-shadow: 0.5px 0.4px rgb(212, 152, 152);
    text-decoration-color: black;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
}

img {
    align-items: center;
    height: 400px;
    width: 300px;
    margin: 50px;
    padding: px;
}